---
import { getCollection } from 'astro:content';
import { PostList } from '../components/blog/post-list';
import BaseLayout from '../layouts/base-layout.astro';
import { SITE_TITLE } from '../consts';

const posts = (await getCollection('posts'))
  .filter((post) => post.data.category === 'tech')
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title={`Tech — ${SITE_TITLE}`} description="Tech posts.">
  <section>
    <h1 class="text-3xl font-bold text-center md:text-left mb-3 md:my-6">Technology</h1>
    <PostList posts={posts} />
  </section>
</BaseLayout>
